.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.card {
  background: white;
  max-width: 20rem;
  width: 100%;
  border-radius: 1.75rem;
  padding: 1.5rem 2rem;
  align-items: center;
  gap: 1.875rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.card-header {
  padding: 0;
}

.card-title {
  font-size: 1.5rem;
  text-align: center;
}

.card-content {
  padding: 0;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-end;
}

.form-field {
  width: 100%;
}
