<div class="container">
  <div class="tools">
    <div class="logo">
      <img ngSrc='../../../../../assets/logo.svg' height="32" width="32" alt="Logo"/>
    </div>

    <div class="toolbar">
      <div class="inputWrapper">
        <input type="text" class="input" [formControl]="title" (blur)="save()">
      </div>

      <div class="controls">
        <app-menu-button
          *ngFor="let menu of Menu"
          [title]="menu.title"
          [category]="menu.category"
          (openMenuEvent)="openMenu($event)"
        />
        <app-menu *ngIf="isMenuOpen" [menu-items]="menuItems" [anchor]="anchor"/>
      </div>
    </div>
  </div>

  <div class="profile">
    <app-profile/>
  </div>
</div>
