.container {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
}

.tools {

}

.logo {

}

.toolbar {

}

.input {

  &Wrapper {

  }
}

.hint {

}

.controls {

}

.profile {

}
